$xsmall-margin: 4px;
$small-margin: 10px;
$xlarge-margin: 50px;
$headline-space-small: 20px;
$headline-space-large: 34px;
$component-spaces-large: 80px;

$mobile-space-y: 54px;
$desktop-space-y: 115px;

$desktop-space-x: 165px;
$mobile-space-x: 16px;

main {
    margin-top: 77px;
    @include for-medium-devices() {
        margin-top: 70px;
    }
}
@include for-sm-phone() {
    .container {
        padding-left: 35px;
        padding-right: 35px;
    }
    header {
        .container {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}

@include for-desktop-up() {
    .container {
        max-width: 1110px;
    }
}
