.benefits-header {
    background-color: $bg-light-grey;
    padding: 88px 0;

    @include for-sm-phone {
        padding: 57px 0;
    }

    @include for-xs-phone {
        padding: 30px 0;
    }

    &__items-list {
        padding-top: 70px;

        @include for-sm-phone {
            padding-top: 60px;
        }
    }

    &__title {
        text-align: center;
        color: $color-primary;
        margin-bottom: 40px;

        @include for-sm-phone {
            text-align: left;
            margin-bottom: 0;
        }
    }

    &__item {
        margin-bottom: 50px;
        position: relative;
        h3 {
            color: $color-primary;
        }
        &--right {
            padding-right: 20px;

            @include for-sm-phone {
                text-align: left;
                padding-right: 0;
                padding-left: 20px;
            }

            i {
                position: absolute;
                right: -20px;
                top: 5px;
                @include for-sm-phone {
                    left: -20px;
                }
                &::before {
                    color: $color-skyblue;
                    font-size: 19px;
                }
            }
        }

        &--left {
            padding-left: 20px;

            // @include for-sm-phone {
            //     text-align: right;
            // }

            i {
                position: absolute;
                left: -20px;
                top: 5px;

                &::before {
                    color: $color-skyblue;
                    font-size: 19px;
                }
            }
        }

        h3 {
            margin-bottom: 10px;
        }
    }

    &__get-btn {
        @include btn-linear-gradient;
        color: #fff;
        font-size: 14px;
        border-radius: 25px;
        width: 172px;
        // height: 47px;
        padding: 14px 36px;
        margin-top: 20px;
        @include for-sm-phone() {
            margin-top: 70px;
        }
    }
    &__mockup {
        margin: auto;
        img {
            width: 130%;
            position: relative;
            left: -30px;
            @include for-medium-devices() {
                width: 170%;
                left: -58px;
                position: relative;
            }
        }
    }
    @include for-medium-devices() {
        background-image: url("../images/iPhoneX-mob.png"), url("../images/iPhoneX-mob.png");
        background-repeat: no-repeat;
        background-position: 40vw -20px, -56vw 94%;
        background-size: contain;
        &__item {
            min-height: 180px;
        }
    }
    @include for-xs-phone() {
        background-position: 40vw 30px, -57vw 92%;
    }
    @media (max-width: 320px) {
        background-position: 40vw 60px, -57vw 78%;
    }
    @include for-sm-phone() {
        &__item {
            min-height: initial;
        }
    }
    @include for-small-desktop() {
        background-image: none;
        &__item {
            min-height: 126px;
        }
    }
    /* Landscape */
    // iphone 6+/7+/8+
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        background-position: 60vw 160px, -6vw 84%;
        background-size: 320px, 320px;
        &__item {
            min-height: initial;
        }
    }
    // iphone 5/6/7/8
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        background-position: 65vw 160px, -24vw 84%;
        background-size: 320px, 320px;
        &__item {
            min-height: initial;
        }
    }
}
