/*------------------------------------*\
    # Color Palette
\*------------------------------------*/
$color-primary: #0A2554;
$color-secondary: #42C3AF;
$color-skyblue: #008DC4;
$color-light-green: #72D7CC;
$color-green: #00B389;
$color-beige: #ECE7A6;
$color-light-grey: #E9EEEE;
$color-off-green: #E4F8F5;
$color-white: #ffffff;

//----------------------//
$border-grey: #707070;
//*------------------------------------*//
$bg-light-grey:#E9EEEE
/*------------------------------------*/
