.connect-component {
    background-color: $color-primary;
    position: relative;

    &.how-it-works {
        background-color: $color-light-grey;
        overflow: hidden;

        .peopleImg {
            top: 30px;
            left: -30px;
            z-index: 1;
        }

        .connect-component-wrapper {
            .connect-content {
                color: $color-primary;
                padding-left: 0;
                padding-right: 0;
            }
        }

        +.images-list {
            background-color: $color-white;
        }
    }

    .peopleImg {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 930px;
        position: absolute;
        width: 75vw;
        right: 39%;
        top: 0px;

        &.mobile-mockup {
            height: 100%;
            width: auto;
            top: 0;
            background-origin: content-box;
            padding: 20px;
        }
    }

    .above-wave {
        position: absolute;
        top: 50px;
        left: 51%;
    }

    .bottom-wave {
        position: absolute;
        right: 0;
        bottom: 65px;
    }

    .connect-component-wrapper {
        height: 560px;
        max-height: 560px;
        position: relative;

        .connect-content {
            font-family: $font-family;
            color: $color-white;
            font-size: $h2-size-dtp;
            line-height: $h2-line-height;
            padding-top: 180px;
        }
    }

    @include for-small-desktop() {
        .peopleImg {
            right: 50%;
        }
    }
}

@media only screen and (width: 1024px) {
    .connect-component {
        &.how-it-works {
            .peopleImg {
                width: 50vw;
            }
        }
    }
}

@include for-responsive {
    .connect-component {
        width: 100%;
        max-height: 435px;

        &.how-it-works,
        &.safeAtWork {
            .above-wave {
                display: none;
            }

            .connect-component-wrapper {
                .connect-content {
                    margin-left: 0;
                }
            }

            .peopleImg {
                height: 300px;
                transform: rotate(-30deg);
                top: 30px;
                left: 0;
            }
        }

        .peopleImg {
            position: relative;
            right: 0;
            width: 100vw;
            height: 450px;
            background-repeat: no-repeat;
            background-size: contain;
            right: 20%;
        }

        .above-wave,
        .bottom-wave {
            width: 118px;
        }

        .above-wave {
            position: absolute;
            top: 16px;
            right: 40%;
        }

        .bottom-wave {
            position: absolute;
            bottom: 10%;
            right: 0;
            top: 40%;
        }

        .connect-component-wrapper {
            height: unset;
            max-height: unset;

            .connect-content {
                font-size: 19px;
                padding-top: $mobile-space-y;
                line-height: 35px;
            }
        }
    }
}

@media only screen and (width: 812px) {
    .connect-component {
        &.how-it-works {
            .bottom-wave {
                right: 68%;
                top: 46%;
            }
        }
    }
}

@media only screen and (width: 768px) {
    .connect-component {
        &.how-it-works {
            .bottom-wave {
                right: 69%;
                top: 61%;
            }
        }

        .peopleImg {
            top: -70px;
        }

        .bottom-wave {
            top: unset;
            bottom: 100px;
        }

        .connect-component-wrapper {
            .connect-content {
                font-size: $h2-size-dtp;
            }
        }
    }
}

@include for-sm-phone {
    .connect-component {
        &.how-it-works {
            .peopleImg {
                height: 355px;
                transform: rotate(-28deg);
                top: 60px;
            }

            .bottom-wave {
                right: 25%;
                top: 55%;
            }
        }

        .above-wave {
            left: -40px;
        }
    }
}