.inner-promo-wrapper {
    background-color: $color-light-grey;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: 89vw 130px, -35px 790px;

    &.about-us {
        background-color: $color-white;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 65vw 0, -26vw -60vh;
    }

    .cards-wrapper {
        padding-bottom: $desktop-space-y;
        padding-top: $desktop-space-y;

        .card-content-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .card-wrapper {
                margin-bottom: 8px;
                // flex-grow: 1;
                width: 31.333%;
                margin: 0 1% 2rem 1%;

                i {
                    &::before {
                        font-size: 40px;
                        margin-right: 10px;
                        color: $color-secondary;
                    }
                }

                .card-title {
                    font-family: $font-family;
                    font-weight: normal;
                    color: $color-primary;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    line-height: $h3-line-height;
                }
            }
        }

        .inner-promo-descripiton {
            font-family: $font-family;
            font-size: $h4-size-dtp;
            line-height: $h4-line-height;
            text-align: center;
            display: block;
            margin: 0 auto;
            margin-top: 65px;
        }
    }
}

@include for-responsive {
    .inner-promo-wrapper {
        background-position: 84vw 130px, -35px 430px;

        &.about-us {
            background-position: 65vw 150px, -45vw -40vh;
        }

        .cards-wrapper {
            padding-top: $mobile-space-y;
            padding-bottom: $mobile-space-y;

            .card-content-wrapper {
                flex-direction: column;

                .card-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-right: 15px;
                    width: unset;

                    i {
                        &:before {
                            font-size: 40px;
                        }
                    }

                    .card-title {
                        line-height: 30px;
                        margin-left: 20px;
                    }
                }
            }

            .inner-promo-descripiton {
                font-size: $p-font-size-dtp;
                padding-bottom: $mobile-space-y;
                line-height: 25px;
                text-align: left;
                max-width: 256px;
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}

@media only screen and (width: 768px) {
    .inner-promo-wrapper {
        .cards-wrapper {
            margin-bottom: 15px;

            .card-content-wrapper {
                .card-wrapper {
                    margin-bottom: 15px;

                    i {
                        &:before {
                            font-size: 50px;
                        }
                    }
                }
            }

            .inner-promo-descripiton {
                font-size: $h4-line-height-mbl;
                padding-bottom: $mobile-space-y;
                line-height: $h4-line-height;
                text-align: left;
                max-width: 600px;
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}

@include for-sm-phone {
    .inner-promo-wrapper {
        background-position: 75vw 20vh, -25vw 60vh;

        &.about-us {
            background-position: 65vw 43vh, -45vw -20vh;
        }
    }
}