.contact {
    padding-top: $desktop-space-y;
    padding-bottom: $desktop-space-y;
    h2,
    p,
    label {
        color: $color-primary;
    }
    p {
        margin-bottom: 30px;
    }
    form {
        margin-top: 30px;
        input,
        textarea {
            border: 3px solid $border-grey;
            display: block;
            margin: 20px 0 30px;
            width: 100%;
            &:focus {
                border-color: $color-secondary;
                box-shadow: none;
            }
        }
        label {
            // color: $color-secondary;
            &.required {
                &::after {
                    content: "*";
                    margin-left: 5px;
                    position: relative;
                    top: -3;
                }
            }
        }
        button {
            color: $color-primary;
            &:hover,
            &:focus {
                border-color: $color-secondary;
                color: $color-secondary;
            }
        }
    }
    &__thanks-message {
        position: relative;
        padding-left: 15px;
        margin-top: 30px;
        &::before {
            content: "";
            background-color: transparent;
            position: absolute;
            left: 0;
            top: 4px;
            width: 5px;
            border-bottom: 3px solid #4d7c2a;
            height: 11px;
            border-right: 3px solid #4d7c2a;
            transform: rotate(45deg);
        }
    }
    @include for-sm-phone() {
        padding-top: $mobile-space-y;
        padding-bottom: $mobile-space-y;
    }
}
