.footer {
    background-color: $color-primary;
    padding-top: 89px;
    &__title {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 34px;
    }
    &__link-list {
        &__item {
            &__link {
                color: #fff;
                &:hover {
                    color: $color-secondary;
                    text-decoration: none;
                }
            }
            &:not(:last-child) {
                margin-bottom: 34px;
            }
        }
    }
    &__accordion {
        &__item {
            &__header {
                &__title {
                    color: #fff;
                    background-color: transparent;
                    padding: 0 0 7.5px 0;
                    border: none;
                    border-bottom: 1px solid #fff;
                    margin-bottom: 20px;
                    width: 100%;
                    text-align: left;
                    position: relative;
                    &:hover {
                        color: $color-secondary;
                    }
                    &[aria-expanded="true"] {
                        border: none;
                        margin-bottom: 14px;
                        padding-bottom: 0;
                    }
                    &:focus {
                        outline: none;
                    }
                    &::after {
                        content: "";
                        width: 16px;
                        height: 16px;
                        background-color: #fff;
                        position: absolute;
                        right: 0;
                    }
                    @include for-medium-devices() {
                        width: auto;
                        &::after {
                            display: none;
                        }
                    }
                }
            }
            &__body {
                margin-bottom: 20px;
                color: $color-secondary;
            }
        }
    }
    &__social {
        display: flex;
        margin-top: 50px;
        &__item {
            &:not(:last-child) {
                margin-right: 25px;
            }
            &__link {
                color: #c2d1d9;
                &:hover {
                    color: $color-secondary;
                    text-decoration: none;
                }
            }
        }
    }
    &__logo {
        margin-bottom: 34px;
        display: block;
        + p {
            margin-bottom: 30px;
            color: #fff;
        }
    }

    &__copyrights {
        text-align: right;
        color: #fff;
        margin-bottom: 20px;
    }

    &__privacy {
        color: #fff;
        &:hover{
            color: #fff;
            text-decoration: underline;
        }
    }
    // &__logo__mbl,
    // &__social__mbl {
    //     display: none;
    // }
    @include for-medium-devices() {
        padding-top: 50px;
        // &__logo,
        // &__social {
        //     display: none;
        // }
        &__logo__mbl,
        &__copyrights__mbl,
        &__social__mbl {
            display: block;
        }
        &__social__mbl {
            display: flex;
            margin-top: 0;
            margin-bottom: 50px;
            justify-content: center;
        }
        &__logo__mbl,
        &__copyrights {
            text-align: center;
            margin-bottom: 20px;
        }
        .col-6,
        .col-md-6 {
            margin-bottom: 42px;
        }
    }
}
