.hero {
    @include hero-linear-gradient;
    position: relative;

    &.hero-image {
        height: 350px;
        position: relative;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        @include for-medium-devices {
            height: 280px;
            background-blend-mode: soft-light;
        }

        .hero__text {
            margin-top: 0;

            h1 {
                margin-top: 0;
                width: 120%;

                @include for-responsive {
                    width: 100%;
                }
            }

            h3 {
                color: #fff;
            }
        }

        // .hero__content {
        //     @include for-responsive {
        //         align-items: flex-start !important;
        //         padding-top: 20px;
        //     }
        // }


    }

    &--with-bg-img {
        background-image: url("../images/dozen-about.png"), linear-gradient(90deg, #0a2554 0, #008dc4 29%, #72d7cc 100%);
        position: relative;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        @include for-responsive {
            background: linear-gradient(180deg, #0a2554 0, #008dc4 60%, #72d7cc85 100%) !important;
        }

        .hero__image {
            display: none;

            @include for-responsive {
                display: block;
                z-index: -1;
            }
        }
    }

    &__content {
        z-index: 1;
    }

    &__text {
        margin-top: $desktop-space-y;

        h1 {
            color: #fff;
            margin-bottom: 20px;
            width: 100%;

            @include for-medium-devices {
                font-size: 37px;
                line-height: 40px;
            }
        }

        h2 {
            color: #fff;
        }

        @include for-small-desktop() {
            margin-top: 80px;
        }

        p {
            color: #fff;

            @include for-small-desktop() {
                max-width: 360px;
            }
        }
    }

    &__buttons {
        margin: 42px 0 125px 0;

        @include for-medium-devices {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
    }

    &__get-btn {
        @include btn-Style-desktop;
        background-color: #fff;
        color: $color-primary;
        border: 3px solid #fff;
        padding: 9px 36px;

        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }

    &__link {
        color: #fff;
        font-size: $base-font-size-dtp;
        margin-left: 30px;

        &:hover {
            color: whitesmoke;
        }

        @include for-medium-devices {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    &__image {
        background-position: bottom right;
        background-size: contain;
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50vw;

        @include for-small-desktop() {
            background-position: 0 195px;
        }

        @include for-medium-devices {
            position: relative;
            height: 390px;
            width: 100%;
            background-size: 120%;
            background-position: -110px 0;
        }

        @include for-xlarge-devices() {
            background-size: 80%;
        }

        @include for-sm-phone() {
            position: relative;
            height: 290px;
            width: 100%;
            background-size: 140%;
            background-position: -70px 0;
        }

        &--small {
            width: 42vw;
            background-position: center right;
            right: 50px;

            @include for-sm-phone {
                height: 300px;
                width: 100%;
                background-size: 90%;
                background-position: 70px 0;
            }

            @include for-large-phone-tablet {
                background-position: center;
                left: 20vw;
                background-size: 100%;
                width: 60vw;
            }
        }
    }

    @include for-medium-devices() {
        @include hero-linear-gradient-mbl;
    }
}

//
// .hide-img{
//     .hero__image{
//         display: none;
//     }
// }