.images-list {
    padding: 100px 0;
    text-align: center;
    background-color: $bg-light-grey;

    &.white-bg{
        background:#fff;
    }
    .images-list-title {
        display: block;
        margin-bottom: 50px;
        font-weight: bold;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li {
            padding: 15px;
            max-width: calc(100% / 7);
            a {
                display: block;
                transition: all .5s ease;
                backface-visibility: hidden;
                &:hover {
                    transform: scale(1.125);
                }
                img {
                    width: 100%;
                }
            }
        }
        @include for-medium-devices {
            justify-content: space-around;
            li {
                max-width: 33.33%;
            }
        }
        @include for-sm-phone {
            li {
                max-width: 50%;
            }
        }
    }
}