.get-in-touch {
    position: relative;
    z-index: 2;
    display: flex;
    @include hero-linear-gradient;
    &__image__dtp {
        position: absolute;
        width: 55vw;
        height: 100%;
        right: 0;
        top: 0;
        background-size: cover;
        background-position: left;
    }
    &__imgae__mbl {
        display: none;
    }
    &__content {
        // max-width: 440px;
        h2 {
            color: #fff;
            margin-bottom: $headline-space-small;
        }
        p {
            color: #fff;
            margin-bottom: $headline-space-large;
        }
    }
    .row {
        min-height: 605px;
        height: 100%;
        flex-direction: row;
        align-items: center;
    }
    &__btn {
        display: inline-block;
        @include btn-Style-desktop;
    }
    &__thanks-message {
        color: #fff;
        position: relative;
        padding-left: 15px;
        &::before {
            content: "";
            background-color: transparent;
            position: absolute;
            left: 0;
            top: 4px;
            width: 5px;
            border-bottom: 3px solid #4d7c2a;
            height: 11px;
            border-right: 3px solid #4d7c2a;
            transform: rotate(45deg);
        }
    }
    @include for-medium-devices() {
        @include hero-linear-gradient-mbl;
        text-align: center;
        &__content {
            max-width: 400px;
            margin: auto;
            h2 {
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: $headline-space-small;
            }
        }
        &__image__dtp {
            display: none;
        }
        &__image__mbl {
            display: block;
            width: 100vw;
            height: 484px;
            background-position: center;
            background-size: cover;
            order: -1;
        }
        .row {
            align-items: initial;
            min-height: initial;
        }
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
    }
    @include for-sm-phone() {
        &__content {
            max-width: 247px;
            margin: auto;
            h2 {
                max-width: 200px;
                margin-left: auto;
                margin-right: auto;
                margin-top: $headline-space-small;
            }
        }
        &__image__mbl {
            height: 265px;
        }
    }
    .z-id-1 {
        z-index: 1;
    }
}
