.see-do-live {
    padding: $desktop-space-y 0;
    background-image: url("../images/gradient-circle-2.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 70vw -300px;
    .title {
        margin-bottom: 100px;
    }
    h3 {
        font-weight: 700;
        margin: 50px 0 15px;
    }
    div {
        [class*="icon-"] {
            display: block;
            font-size: 50px;
            margin-bottom: 20px;
            color: $color-secondary;
        }
        .item-title {
            display: block;
            font-size: 1.125em;
            margin-bottom: 10px;
        }
        .item-desc {
            display: block;
            font-size: 0.85em;
            margin-bottom: 20px;
            line-height: 16px;
        }
    }
    .get-btn {
        @include btn-linear-gradient;
        color: #fff;
        font-size: 14px;
        border-radius: 25px;
        width: 172px;
        height: 47px;
        margin-top: 50px;
        padding: 13px;
    }
    @include for-sm-phone() {
        padding: $mobile-space-y 0;
    }
}
